<launch>

  <node name="zed2"
        pkg="zed_wrapper"
        type="zed_wrapper_node"
        respawn="true">
    <rosparam command="load" file="$(find erc_jetson_bringup)/config/zed2.yaml"/>
  </node>

  <node name="zed2_imu_transform_broadcaster"
        pkg="leo_gazebo"
        type="zed2_imu_transform_broadcaster"/>

</launch>